/.metadata/
/Debug/
*.o
/.deps/
**/*.Po
**/.deps/
config.log
*_edited
*_changed
*_working
*.cproject
*.project
*.settings
**/bin/Release
**/bin/Debug
*_orig
idrivebmrsrv
idrivebmr_*
tags
*.tar*
cscope.out
cscope_maps.vim
idrivebmrserver/cscope.out
idrivebmrsrv_v2
mount_helper/Debug/
zfs_helper/bin/zfs_helper
zfs_helper/cscope.out
Makefile
config.log
config.status
